
 	<ol class="breadcrumb">
      <li class="breadcrumb-item"><a id="opcInicio">Inicio</a></li>
      <li class="breadcrumb-item active">Gacetas</li>
    </ol>
			<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gacetas Registradas</h3>
            <div class="navbar dropdown pull-right"">
          	<button type="button" class="btn btn-black" id="ButtonNuevaGaceta">Nuevo</button>
                <button class="btn btn-danger dropdown-toggle" id="dropdownDescargar" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="fa fa-bars"></i> Descargar Gacetas</button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDescargar"> 
                  <a class="dropdown-item" id="pdf" href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='/img/pdf.png' width="24"/> PDF</a>
                </div>
            </div>   
        </div>
        <div class="panel-body appViu"  id="app">
              <div id="demo"> 
                  <% include componentes/ComponenteTableGacetas.vue %>
              </div>
          </div>
    <script src="js/vue/dist/vue-select.js"></script>
<script type="text/javascript">
	
	 var items = [
          { isActive: false, id:"12", fecha:"02/08/2017", descripcion:" consectetur adipisicing",cantidad: "2",decretos:[{descripcion:"decreto 1", id:"1"},{descripcion:"decreto 2", id:"2"}]},
          { isActive: false, id:"21", fecha:"22/12/2012", descripcion: "olor in reprehenderi",cantidad: "1",decretos:[{descripcion:"decreto 1", id:"3"}]},
          { isActive: false, id:"1",fecha:"12/15/2016",  descripcion:"officia deserunt mollit anim id",cantidad: "1",decretos:[{descripcion:"decreto 1",id:"4"}]},
          { isActive: false, id:"54", fecha:"12/10/2015", descripcion:"dolore magna aliqua", cantidad: "2",decretos:[{descripcion:"decreto 1", id:"5"},{descripcion:"decreto 2", id:"6"}]},
          { isActive: false, id:"2", fecha:"03/02/2011", descripcion:"Lorem ipsum dolor sit amet",cantidad: "1",decretos:[{descripcion:"decreto 1", id:"7"}]}
      ];
</script>
<script type="text/javascript" src="js/vue/personales/gacetas.js"></script>



