<% include partials/header.ejs %>
<% include partials/menu.ejs %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 col-xl-10 pt-3 px-4" id="ajaxMain">
      </main>
 </div>
</div>
<% include partials/footer.ejs %>
