 <?php include('../inclu/header.php'); ?>
           
<?php include('../inclu/menu.php'); ?>

<main role="main" class="col-md-9 ml-sm-auto col-lg-9 col-xl-10 pt-3 px-4">
    <ol class="breadcrumb">
        </ul>
      <li class="breadcrumb-item"><a id="opcInicio">Inicio</a></li>
      <li class="breadcrumb-item active">Reportes de Ingresos</li>
    </ol>
                      
          <div class="page-content-wrap">
                      
                          <div class="row">
                          
                              <div class="col-md-12">
                                  
                                  <!-- START DATATABLE EXPORT -->
                                  <div class="panel panel-default">

                                      <div class="panel-heading">
                                          <h3 class="panel-title">Ventas Registradas</h3>
                                          <div class="navbar dropdown pull-right"">
                                              <button class="btn btn-danger dropdown-toggle" id="dropdownDescargar" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="fa fa-bars"></i> Descargar Ventas</button>

                                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDescargar"> 
                                                <a class="dropdown-item" id="pdf" href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='../public/img/pdf.png' width="24"/> PDF</a>
                                              </div>
                                          </div>   
                                      </div>
                                      <div class="panel-body appViu"  id="app">
                                          <div id="demo">               
                                            <form class="form-inline form-search-perso" id="search" > 
                                                <div class="form-group ">
                                                    <input type="text" class="form-control"  placeholder="Buscador" name="query" v-model="searchQuery">
                                                    <div class=""> <i class="fa fa-search fa-aux-search" aria-hidden="true"></i></div>
                                                  </div> 
                                              </form>
                                              <demo-grid
                                                :data="gridData"
                                                :columns="gridColumns"
                                                :filter-key="searchQuery">
                                              </demo-grid>
                                            </div>
                                      </div>
                                      
                                  </div>
                                  <!-- END DATATABLE EXPORT -->                            
                              </div>
                          </div>                    
                                    
                    </div>
                    <div class="row">
                    <div class="col-12 col-lg-6">
                     <canvas class="my-4 chartjs-render-monitor" id="myChart1"></canvas></div>
                    <div class="col-12 col-lg-6">
                       <canvas class="my-4 chartjs-render-monitor" id="myChart2"></canvas>
                    </div>
                  </div>
            </main>
       </div>
    </div>
    <script src="../js/vue/dist/vue.min.js"></script>
    <script src="../js/Chart.min.js"></script>
    <?php include('../inclu/ComponenteTableVentas.php'); ?>
    <script type="text/javascript">

           Vue.component('demo-grid', {
              template: '#grid-template',
              props: {
                NUM_RESULTS: Number, // Numero de resultados por página
                pag: Number,
                data: Array,
                columns: Array,
                filterKey: String
              },
              data: function () {
                var sortOrders = {}
                this.columns.forEach(function (key) {
                  sortOrders[key] = 1
                })
                return {
                  sortKey: '',
                  sortOrders: sortOrders
                }
              },
              computed: {
                filteredData: function () {
                  var sortKey = this.sortKey
                  var filterKey = this.filterKey && this.filterKey.toLowerCase()
                  var order = this.sortOrders[sortKey] || 1
                  var data = this.data
                  if (filterKey) {
                    data = data.filter(function (row) {
                      return Object.keys(row).some(function (key) {
                        return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                      })
                    })
                  }
                  if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                      a = a[sortKey]
                      b = b[sortKey]
                      return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                  }
                  return data
                }
              },
              filters: {
                capitalize: function (str) {
                  return str.charAt(0).toUpperCase() + str.slice(1)
                }
              },
              methods: {
                sortBy: function (key) {
                  this.sortKey = key
                  this.sortOrders[key] = this.sortOrders[key] * -1
                }
              }
            })

            // bootstrap the demo
            var app = new Vue({
              el: '#app',
              data: { 
                NUM_RESULTS: 7, // Numero de resultados por página
                pag: 1, // Página inicial
                searchQuery: '',
                gridColumns: ['contribuyente', 'acto','unidades','fecha','costo'],
                gridData: [
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                  /*  { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700}*/
                ]
              }
            });



            //CHARTJ
            var ctx = document.getElementById("myChart1");
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                  data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: false
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });

            ctx = document.getElementById("myChart2");
           myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                  data: [451, 422, 145, 244, 741, 99, 150],
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: false
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });
           $(document).ready(function()
        {
            $('#pdf').on('click', function(){
                var doc = new jsPDF()
                doc.text('Hello world!', 10, 10)
                doc.save('a4.pdf')
            //doc.save=('prueba.pdf'); console.log("hola");
            });
        });
         </script>
<?php include('../inclu/footer.php'); ?>
